body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 7px;
  color: grey;
  margin-bottom: 0 !important;
}

.subTitle {
  margin-bottom: 30px !important;
  color: grey;
  font-weight: 700;
}

footer {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  color: red;
  font-size: 18px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }

  footer {
    text-align: center;
    font-size: 14px;
  }
}
